@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  flex-shrink: 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

.footerBlock--buy {
  background-color: #2D4059;
  display: flex;
  flex-direction: row;
}

.buyBlock {
  margin: 30px 50px;
  display: flex;
  width: 300px;
}

.footer--icon__center {
  padding: 10px;
}

.footer--icon {
  font-size: 10px;
  color: #EA5455;
  margin: 20px 0;
  background-color: #E5E5E5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.footer--icon__rotate {
  padding: 8px;
  transform: rotate(340deg);
}

.buyBlock--text {
  color: #E5E5E5;
  margin: 10px;
}

.buyBlock--titre {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.buyBlock--p {
  font-size: 10px;
}

.footerBlock--links {
  background-color: #E5E5E5;
}

.listLiens--ul {
  flex-direction: column;
  font-size: 14px;
}

.footerBlock--linksContainer {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
}

.footerBlock--notice {
  background-color: #2D4059;
  color: #E5E5E5;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: center;
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  .footerBlock {
    width: 700px;
    flex-wrap: wrap;
  }

  .footerBlock--linksContainer {
    flex-direction: column;
    padding: 20px;
  }

  .listLiens--ul__right {
    text-align: end;
  }

  .footerBlock--notice p {
    font-size: 10px;
    width: 700px;
    flex-wrap: wrap;
  }
}
h1 {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container__categories {
  margin: 150px 100px;
  display: flex;
}

.container__categories--list {
  width: 500 px;
}

ul {
  width: 250px;
  left: 20px;
  position: relative;
}

li {
  margin: 9px;
  list-style-type: circle;
  color: rgb(139, 132, 132);
}

ul li:hover {
  color: red;
  text-decoration: none;
}

.boxAffichage {
  width: 900px;
  display: flex;
  flex-direction: column;
}

.container__categories--affichage {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  font-size: 24px;
  margin-left: 8px;
}

select {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #EA5455;
  color: white;
}

.container__categories--imagePrincipale {
  height: 230px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 13px rgba(18, 18, 18, 0.1);
  margin-bottom: 100px;
}

.imgPrinc--img {
  width: 170px;
  margin: 30px 50px 23px 30px;
}

.imgPrinc--text {
  margin-top: 30px;
}

.imgPrinc--titre, .imgPrinc--price {
  margin-bottom: 20px;
  color: #2D4059;
}

.imgPrinc--titre {
  font-size: 12px;
  font-weight: bold;
}

.imgPrinc--price {
  font-size: 11px;
}

.imgPrinc--stock {
  font-size: 11px;
  font-weight: bold;
  color: #42CC38;
}

.container__categories--imagesSecondaires {
  display: flex;
}

.imagesSecondaires__block {
  border-radius: 5px;
  height: 231px;
  width: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 13px rgba(18, 18, 18, 0.1);
}

.imagesSecondaires__block--center {
  margin: 0 75px;
}

.imagesSecondaires__img {
  height: 156px;
  width: 187px;
  margin-top: 15px;
}

.imagesSecondaires__titre {
  align-self: flex-start;
  margin: 15px 0 5px 17px;
  color: #2D4059;
  font-weight: bolder;
  font-size: 12px;
}

.imagesSecondaires__price {
  width: 187px;
  margin: 0 21px;
  display: flex;
  justify-content: space-between;
  color: #2D4059;
  font-size: 11px;
  font-weight: bold;
}

.imageSecondaire--span {
  color: #42CC58;
}


