@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

*{ // * pour sélectionner toute la page.
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    
}

.container{
    border: 3px solid mediumorchid;
}

.container__categories{
    margin: 150px 100px; //margin sert à gérer l'espace de la partie blancHe de haut à gauche dans le sens des aiguilles d'une montre.
    border: 2px solid rgb(0, 238, 255);
    display: flex;
    
}

.container__categories--list{  //Duplication de sélection : Shift + Alt + Up ou Shift + Alt + Down
    width: 500 px;
    border: 2px solid palevioletred;

}
li{
    list-style-type: circle;
}
ul li:hover{ // :hover sert à mettre en surbrillance quand la souris passe dessus.
    color:red;
    text-decoration:none
}

.boxAffichage{
    width: 200px;
    display: flex; // Le display et le flex-direction il vaut mieux les mettre sur le parent.
    flex-direction: column;
    border: 2px solid greenyellow;

}

.container__categories--affichage{
    height: 200px;
    border: 2px solid blue;
    
}
.fausseIcon1{
    width: 33px;
    height: 33px;
}
.fausseIcon2{
    width: 33px;
    height: 33px;
}


.container__categories--imagePrincipale{
    height: 200px;
    border: 2px solid black;
}

.container__categories--imagesSecondaires{
    height: 200px;
    border: 2px solid orange;
    
}